/* Set theme to logseq Dev theme */
@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@main/custom.css");


/* Replace default theme font with JetBrains Mono */
@font-face {

    font-family: 'MyWebFont';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

:root {
  --ct-text-size: 15px;
  --ct-line-height: 1.6;
  --ls-font-family: "Only Emoji", 'MyWebFont';
  --ct-page-title-font-family: var(--ls-font-family);
  --ct-code-font-family: 'MyWebFont';
}

